.button {
  background: $blue;
  border-radius: 2px;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;    // for links being disguised as buttons - forces vertical height to be taken into account
  font-weight: 300;
  font-size: $font-large;
  line-height: 1;   // for links
  padding: $s-size;
  text-decoration: none;    // for links
}

.button--link {
  background: none;
}

.button--secondary {
  background: $mid-grey;
}

.button--tertiary {
  background: $mid-grey;
  font-size: $font-medium;
  margin-top: $s-size;
  padding: $xs-size;
}