.text-input {
  border: 1px solid #CACCCB;
  color: $dark-grey;
  height: 50px;
  padding: 1rem;
}

// NOTE: can use @extend to copy properties from another class
.select {
  @extend .text-input;
  background:$white;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}