// Colors
$dark-grey: #464646;
$mid-grey: #CACCCD;
$light-grey: #F7F7F7;
$green: #40BC86;
$blue: #199EC7;
$white: white;
$pink: #EC555C;

// Font sizes
$font-large: 2rem;
$font-medium: 1.5rem;

// Spacing sizes
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
